body {
  font-family: roboto, sans-serif;
  font-weight: lighter;
  background: #fff;
  color: #474747;

}

h1 {
  font-weight: lighter;
}

.container, .login-screen {
  display: block;
  width: 400px;
  margin: 50px auto 0;
}

.container {
  margin-bottom: 60px;
}

.login-screen {
  margin-top:100px;
  font-size: 36px;
  line-height: 10px;
}

.login-screen input {
  height: 40px;
  width: 450px;
  font-size: 18px;
  margin: 0;
  color: #DEDEDE;
}

.login-screen button {
  margin-top: 10px;
  font-size: 15px;
  background-color: #fff;
  color: #696969;
  border-color: #CFCFCF;
  text-decoration: none;
  height: 30px;
  width: 70px;
  border-width: 1px; 
  border-radius: 5px;
  border-style: solid;
}

li button, .add {
 background: none;
  border-style: none;
  font-size: 14px;
  width: 50px;
  font-family: roboto, sans-serif;
  cursor: pointer;
  height: 15px;
  display: inline-block;
}

.add {
  margin-top: 4px;
}


button:hover {
  opacity: 0.5;
}

input[type = "text"] {
  height: 20px;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  border-color: #ccc;

}

label[for = 'new-task'] {
  display: block; 
}


h1, h3 {
  font-weight: lighter;
}

hr {
  margin-top: 0px;
  line-height: 2px;
  color: #ccc;
}

input[type = "text"]:focus {
  color: #ccc;
}

input, button {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

li * {
  float: left;

}
 
li {
  overflow: hidden; 
  padding: 20px 0;
  border: none;
 }

li, h3 {
    clear: both;
    list-style: none;
}

ul li input[type="text"] {
  display: none;
}

ul li.editMode input[type = "text"] {
  display: block;
}

ul li.editMode label {
  display: none;
}

